nav { 
  position: fixed;
  width: 100%;
  display: flex;
}
.highscore {
  color: red;
  position: absolute;
  float: left;

}
.timer {
  color: blue;
  float: right;
  position: relative;
}
.wrapper {
  align-items: center;
  display: block;
}